html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "Montserrat";
  background-image: url(../public/background.jpg);
  color: #FFFF;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.title {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 5%;
  font-size: 30px;
  font-weight: "bold";
  color: #143040;
}

.split {
  display: flex;
  width: 100%;
}

.gutter.gutter-horizontal {
  background-color: #143040;
  cursor: e-resize;
}


.container {
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
}


.flex {
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 120vh;
  margin-top: 5%;
  margin-left: 25%;
}

.regularButton {
  margin-left: 2%;
  width: 300px;
  height: 60px;
  padding: 20px;
  font-size: 20px;
  color: white;
  background-color: #143040;
  border-radius: 1rem;
  border: 0px;
}

.regularButton:hover {
  transform: translateY(-3px);
  transition: 1s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.outlinedButton {
  margin-left: 2%;
  padding: 15px;
  color: #7B7B7B;
  background-color: #FFF;
  border-radius: 1rem;
  /* border: 1px solid #BA4646; */
  font-size: 20px;
  width: 300px;
  height: 60px;
  align-items: center;
  text-align: center;
}

.outlinedButton:hover {
  transform: translateY(-3px);
  transition: 1s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.buttons {
  width: 1500px;
  margin-top: 3%;
  margin-left: 20%;
  justify-content: "space-between";
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat";
}

img {
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
  position: overlay;
}

#default {
  filter: grayscale(60%);
  background-image: url(../public/sample2.jpg);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#picture {
  background-image: url(../public/sample2.jpg);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.title {
  width: 100%;
}
 